.p-speeddial-button.p-button-icon-only[type="button"] {
  width: 2rem;
  height: 2rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.p-speeddial {
  position: inherit;
}

.p-speeddial-action {
  width: 2rem;
  height: 2rem;
}

.p-inputtext {
  padding: 0.25rem 0.5rem;
}

.p-listbox .p-inputtext {
  width: 100%;
  border: initial;
  padding: 0.25rem 1rem;
}

.p-sidebar-right .p-sidebar {
  width: 20rem;
}

.p-listbox .p-listbox-list {
  padding: 0px;
}

.p-listbox .p-listbox-list .p-listbox-item {

  padding: 0px;
}

.p-autocomplete.p-component.p-inputwrapper{
  width: 100%;
}